.hero {
  background-color: var(--dark--);
  background: url('../assets/hero-img.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  color: var(--grey--);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.social-icons {
  display: none;
}

.hero-txt {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 8rem;
  padding: 0 10px;
  width: 100%;
}

.hero-head {
  font-size: 1.8rem;
  width: 100%;
}

.hero-body {
  width: 95%;
}

/* Tablet */
@media screen and (min-width: 768px) {
  .hero-head {
    font-size: 2.5rem;
  }
}

/* Desktop screen */
@media screen and (min-width: 900px) {
  .hero {
    flex-direction: row;
    justify-content: left;
  }
  .hero-txt {
    margin: 0 5rem;
    margin-top: 90px;
    justify-content: center;
  }
  .social-icons {
    display: block;
    background: var(--dark--);
    height: fit-content;
    padding: 10px 10px;
    box-shadow: 0 6px 20px rgba(37, 24, 42, 0.9);
    color: var(--light--);
    margin-top: 10rem;
  }
  .hero-head {
    font-size: 300%;
  }
}
