:root {
  --light--: #cf7ce6;
  --dark--: #25182a;
  --grey--: #eaeaea;
  --white--: #ffffff;
}

html {
  scroll-behavior: smooth;
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--dark--);
  padding: 20px 25px;
  position: fixed;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.header {
  display: flex;
  gap: 10px;
  align-items: center;
  color: var(--grey--);
  text-decoration: none;
}

.header h2 {
  font-weight: 900;
  font-size: 16px;
  color: var(--white--);
}

.header img {
  width: 25px;
  border-radius: 50px;
}

.header:hover {
  cursor: pointer;
  color: var(--light--);
}

h3 {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
}

/* Tablet screen */
@media screen and (min-width: 768px) {
  .navBar {
    padding: 20px 45px
  }
  .header h2 {
    font-size: 20px;
  }
  
  .header img {
    width: 35px;
  }
}